name: 25-02-25 - self hosted runner example
on:
  push
jobs: 
  self-hosted-job:
    runs-on: self-hosted
    steps: 
      - name: checkout repository
        uses: actions/checkout@v4.2.2
      - name: run a script
        shell: cmd
        run: echo "Running on a self-hosted runner"
  different-label:
    runs-on: nida-machine
    steps: 
    - name: display a message
      shell: cmd
      run: echo "working perfectly fine"

